In [161]:
    import pandas as pd
    
    #Load Data Sets
    pd_links = pd.read_csv('dataSets/training/links (table 3).csv')
    pd_routes = pd.read_csv('dataSets/training/routes (table 4).csv')
    pd_trajectories = pd.read_csv('dataSets/training/trajectories(table 5)_training.csv')
    pd_volume = pd.read_csv('dataSets/training/volume(table 6)_training.csv')

In [162]:
    #先处理trajectories数据
    pd_trajectories.head()

,intersection_id,tollgate_id,vehicle_id,starting_time,travel_seq,travel_time
0,B,3,1065642,2016-07-19 00:14:24,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85
1,B,3,1047198,2016-07-19 00:35:56,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79
2,B,1,1086390,2016-07-19 00:37:15,105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...,79.76
3,A,2,1071181,2016-07-19 00:37:59,110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...,58.05
4,B,1,1065807,2016-07-19 00:56:21,105#2016-07-19 00:56:21#16.08;100#2016-07-19 0...,137.98

In [163]:
    #字符转为时间格式
    pd_trajectories['starting_time'] = pd.to_datetime(pd_trajectories['starting_time'], format = '%Y-%m-%d %H:%M:%S')
    
    #获取星期
    pd_trajectories['weekday'] = pd_trajectories['starting_time'].dt.dayofweek + 1  #pandas的周一从0开始，周日为6
    
    
    pd_trajectories.head()

,intersection_id,tollgate_id,vehicle_id,starting_time,travel_seq,travel_time,weekday
0,B,3,1065642,2016-07-19 00:14:24,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85,2
1,B,3,1047198,2016-07-19 00:35:56,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79,2
2,B,1,1086390,2016-07-19 00:37:15,105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...,79.76,2
3,A,2,1071181,2016-07-19 00:37:59,110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...,58.05,2
4,B,1,1065807,2016-07-19 00:56:21,105#2016-07-19 00:56:21#16.08;100#2016-07-19 0...,137.98,2

In [165]:
    #获取是否为法定假日
    holiday = [pd.Timestamp('2016-10-1'), pd.Timestamp('2016-10-7')]
    pd_trajectories['holiday'] = pd_trajectories['starting_time'].between(holiday[0],holiday[1])

In [169]:
    #获取links
    def get_links(seq):
        l_seq = seq.split(';')
        links = []
        for s in l_seq:
            link = s.split('#')[0]
            links.append(link)
        s_links = ';'.join(links)
        return s_links
    
    pd_trajectories['links'] = pd_trajectories['travel_seq'].apply(get_links)

In [170]:
    pd_trajectories.head()

,intersection_id,tollgate_id,vehicle_id,starting_time,travel_seq,travel_time,weekday,holiday,links
0,B,3,1065642,2016-07-19 00:14:24,105#2016-07-19 00:14:24#9.56;100#2016-07-19 00...,70.85,2,False,105;100;111;103;122
1,B,3,1047198,2016-07-19 00:35:56,105#2016-07-19 00:35:56#11.58;100#2016-07-19 0...,148.79,2,False,105;100;111;103;122
2,B,1,1086390,2016-07-19 00:37:15,105#2016-07-19 00:37:15#5.26;100#2016-07-19 00...,79.76,2,False,105;100;111;103;116;101;121;106;113
3,A,2,1071181,2016-07-19 00:37:59,110#2016-07-19 00:37:59#13.74;123#2016-07-19 0...,58.05,2,False,110;123;107;108;120;117
4,B,1,1065807,2016-07-19 00:56:21,105#2016-07-19 00:56:21#16.08;100#2016-07-19 0...,137.98,2,False,105;100;111;103;116;101;121;106;113

In [171]:
    pd_trajectories.to_csv('Processed_data_by_weikai/processed_train_trajectories.csv')